page-login {
    .button{
        background-color: #34495E;
        width:100%;
        //height:50%;
       
    }
    #lol{
        background-color: #34495E;
        width:50%;
        margin-left: 80px;
    }
}
